  <tr>
    <td><%= @group.title %></td>
    <td>
      <%= link_to("edit", edit_group_path(@group)) %>
      <%= link_to("post", new_group_post_path(@group)) %>
      <% if current_user.present? %>
        <% if current_user.is_member_of?(@group) %>
          <%= link_to("Quit Group", quit_group_path(@group), method: :post) %>
        <% else %>
          <%= link_to("Join Group", join_group_path(@group), method: :post) %>
        <% end %>
      <% end %>
    </td>
    <br>
    <td><%= @group.description %></td>
    <br>
    <br>
    <br>
    <td><p>文章</p></td>
    <% @posts.each do |post| %>
    <td><%= post.content %></td>
      <% if post.editable_by?(current_user) %>
        <%= link_to("edit", edit_group_post_path(post.group, post)) %>
        <%= link_to("delete", group_post_path(post.group, post), method: :delete) %>
      <% end %>
    <br>
    <% end %>
  </tr>
